.layui-table-view .layui-disabled.layui-form-checkbox.layui-form-checked[lay-skin="primary"] i,
.layui-table-view .layui-disabled.layui-form-checkbox.layui-form-checked[lay-skin="primary"] i:hover {
  background-color: lightgray !important;
  color: #fff !important;
}

.layui-table-view .layui-disabled.layui-form-checkbox[lay-skin="primary"] i,
.layui-table-view .layui-disabled.layui-form-checkbox[lay-skin="primary"] i:hover {
  background-color: lightgray !important;
  color: lightgray !important;
}

.layui-table-view.layui-table-none-overflow .layui-table-header .layui-table {
  margin-bottom: 0;
}

.layui-table-view.layui-table-none-overflow .layui-table-header {
  overflow-x: auto;
}

.layui-table-view.layui-table-none-overflow .layui-table-patch {
  display: none;
}

#layui-tablePlug-col-filter+ div {
  margin: 0;
}

.layui-table-filter.layui-active {
  color: deepskyblue;
}

.layui-table-filter {
  cursor: pointer;
}

.table-filter-opt-invert {
  cursor: pointer;
  float: right;
}

.LAY_TABLE_TOOL_COLS_Invert_Selection {
  position: absolute;
  right: 10px;
  padding: 0 6px;
  cursor: pointer;
  color: #666;
}

tr.layui-tablePlug-data-temp {
  background-color: #d8ff83 !important;
}

.layui-table-view.has-data-temp-warn {
  border-color: red;
}

.layui-table-view tr.layui-table-hover.layui-tablePlug-data-temp td:first-child {
  /*pointer-events: none;*/
}

.layui-table-view tr.layui-table-hover.layui-tablePlug-data-temp .close_temp {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  padding: 5px 0;
}

.layui-table-view tr.layui-table-hover.layui-tablePlug-data-temp .close_temp:before {
  content: '删除';
  color: red;
  position: absolute;
  height: 26px;
  line-height: 26px;
  width: 28px;
  padding: 0 5px;
  margin: 0 5px;
  pointer-events: auto;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 4px;
}

.layui-table-view table[lay-size="lg"] tr.layui-table-hover.layui-tablePlug-data-temp .close_temp:before {
  line-height: 38px;
  height: 38px;
}
.layui-table-view table[lay-size="sm"] tr.layui-table-hover.layui-tablePlug-data-temp .close_temp:before {
  line-height: 18px;
  height: 18px;
}

/* 让固定列区域在鼠标移入的时候支持滚动*/
.layui-table-fixed .layui-table-body:hover {
  overflow-y: auto;
}

.layui-table-fixed-r.layui-table-fixed-scroll:hover {
  right: 0 !important;
}

.layui-table-fixed-l:hover {
  overflow: hidden;
}
